#@header()

#@column()

<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="fly-panel" style="margin-bottom: 0;">
                <div class="fly-panel-title fly-filter">
                    <a href="/column/#(tab_column)/all?order=#(tab_order)" #if(tab_filter== "all") class="layui-this" #end>综合</a>
                    <span class="fly-mid"></span>
                    <a href="/column/#(tab_column)/unsolved?order=#(tab_order)" #if(tab_filter== "unsolved") class="layui-this" #end>未结</a>
                    <span class="fly-mid"></span>
                    <a href="/column/#(tab_column)/solved?order=#(tab_order)" #if(tab_filter== "solved") class="layui-this" #end>已结</a>
                    <span class="fly-mid"></span>
                    <a href="/column/#(tab_column)/wonderful?order=#(tab_order)" #if(tab_filter== "wonderful") class="layui-this"
                    #end>精华</a>
                    <span class="fly-filter-right layui-hide-xs">
            <a href="/column/#(tab_column)/#(tab_filter)?order=new" #if(tab_order == 'new') class="layui-this" #end>按最新</a>
            <span class="fly-mid"></span>
            <a href="/column/#(tab_column)/#(tab_filter)?order=hot" #if(tab_order == "hot") class="layui-this" #end>按热议</a>
          </span>
                </div>
                #if(postList == null || postList.size() == 0)
                <div class="fly-none">没有相关数据</div>
                #else
                <ul class="fly-list">
                    #for(p : postList)
                    <li>
                        <a href="/user/#(p.user.id)" class="fly-avatar">
                            <img src="#(p.user.avatar)" alt="#(p.user.nickName)">
                        </a>
                        <h2>
                            <a class="layui-badge">#(p.column.name)</a>
                            <a href="/post/#(p.id)?order=#(tab_order)">#(p.title)</a>
                        </h2>
                        <div class="fly-list-info">
                            <a href="/user/#(p.user.id)" link>
                                <cite>#(p.user.nickName)</cite>
                                #if(p.user.auth != null)
                                <i class="iconfont icon-renzheng" title="认证信息：#(p.user.auth)"></i>
                                #end
                                #if(p.user.vip != 0)
                                <i class="layui-badge fly-badge-vip">VIP#(p.user.vip)</i>
                                #end
                            </a>
                            <span class="createtime">#date(p.createTime, "yyyy-MM-dd HH:mm:ss")</span>

                            <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> #(p.reward)</span>
                            #if(p.status == 1)
                            <span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>
                            #end
                            <span class="fly-list-nums">
                                        <i class="iconfont icon-pinglun1" title="回答"></i> #(p.comments)
                                    </span>
                        </div>
                        <div class="fly-list-badge">
                            #if(p.top == 1)
                            <span class="layui-badge layui-bg-black">置顶</span>
                            #end
                            #if(p.wonderful == 1)
                            <span class="layui-badge layui-bg-red">精帖</span>
                            #end
                        </div>
                    </li>
                    #end
                </ul>
                #end

                #if(page.totalPage > 1)
                <div style="text-align: center">
                    <div id="page"></div>
                </div>
                #end

            </div>
        </div>
        <div class="layui-col-md4">
            <dl class="fly-panel fly-list-one">
                <dt class="fly-panel-title">本周热议</dt>
                #if(weekHot == null || weekHot.size() == 0)
                <div class="fly-none">没有相关数据</div>
                #else
                #for(p : weekHot)
                <dd>
                    <a href="/post/#(p.id)?order=#(tab_order)">#(p.title)</a>
                    <span><i class="iconfont icon-pinglun1"></i> #(p.comments)</span>
                </dd>
                #end
                #end
            </dl>

            <div class="fly-panel">
                <div class="fly-panel-title">
                    赞助商
                    <span class="fly-mid"></span>
                    <a href="/post/1" class="fly-link fly-joinad">我要加入</a>
                </div>
                <div class="fly-panel-main">
                    <a href="" target="_blank" class="fly-zanzhu" style="background-color: #393D49;">虚席以待</a>
                </div>
            </div>

            <div class="fly-panel fly-link">
                <h3 class="fly-panel-title">友情链接</h3>
                <dl class="fly-panel-main">
                    <dd>
                        <a href="mailto:lyusantu@gmail.com"
                           class="fly-link">申请友链</a>
                    <dd>
                </dl>
            </div>

        </div>
    </div>
</div>

#@footer()
#@js?()
<script>
    layui.cache.page = 'jie';

    layui.use(['laypage', 'layer','util', 'laydate'], function () {
        var laypage = layui.laypage
            , layer = layui.layer
            , util = layui.util
            , laydate = layui.laydate
            , $ = layui.jquery;

        //总页数低于页码总数
        laypage.render({
            elem: 'page'
            , count: '#(page.totalCount)'
            , first: '首页'
            , last: '尾页'
            , limit: '#(page.pageSize)'
            , curr: '#(page.pageNumber)'
            , layout: ['prev', 'page', 'next', 'skip']
            , jump: function (obj, first) {
                if (!first) {
                    var url = '/column/#(column)/#(type)?p=' + obj.curr;
                    if ('#(tab_order)' != null)
                        url += '&order=#(tab_order)';
                    location.href = url;
                }
            },
        });

        $('.createtime').each(function () {
            var date = $(this).html();
            var str = util.timeAgo(date, laydate.now);
            $(this).html(str);
        })
    });
</script>