#@header()

<div class="layui-container fly-marginTop">
    <div class="fly-panel" pad20 style="padding-top: 5px;">
        <!--<div class="fly-none">没有权限</div>-->
        <div class="layui-form layui-form-pane">
            <div class="layui-tab layui-tab-brief" lay-filter="user">
                <ul class="layui-tab-title">
                    <li class="layui-this">编辑主题</li>
                </ul>
                <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                    <div class="layui-tab-item layui-show">
                        <form action="" method="post">
                            <input type="hidden" name="id" value="#(post.id)" />
                            <input type="hidden" name="action" value="/post/updatePost" />
                            <div class="layui-row layui-col-space15 layui-form-item">
                                <div class="layui-col-md9">
                                    <label for="L_title" class="layui-form-label">标题</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="L_title" name="title" required lay-verify="required" autocomplete="off" class="layui-input" value="#(post.title)" placeholder="请输入主题标题，如果标题能够表达完整内容，则正文可以为空" />
                                    </div>
                                </div>
                                <div class="layui-col-md3">
                                    <label class="layui-form-label">类型</label>
                                    <div class="layui-input-block">
                                        <select lay-verify="required" name="type" lay-search="">
                                            <option value=""></option>
                                            #for(x : tab1)
                                            <optgroup label="#(x.name)">
                                                #for( lt : listType)
                                                #if(x.id == lt.pid)
                                                <option value="#(lt.id)" #if(post.type == lt.id) selected="" #end>#(lt.name) / #(lt.suffix)</option>
                                                #end
                                                #end
                                            </optgroup>
                                            #end
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="layui-form-item layui-form-text">
                                <div class="layui-input-block">
                                    <textarea id="L_content" name="content" placeholder="正文" class="layui-textarea fly-editor" style="height: 260px;">#(post.content)</textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">允许评论</label>
                                    <div class="layui-input-inline" style="width: 190px;">
                                        <input type="checkbox" #if(post.allow == 0)checked=""#end name="post_allow" lay-skin="switch" lay-filter="switch_post_allow" lay-text="">
                                        <div class="layui-unselect layui-form-switch layui-form-onswitch" lay-skin="_switch"><em>ON</em><i></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">打赏可见</label>
                                    <div class="layui-input-inline" style="width: 190px;">
                                        <input type="checkbox" name="post_reward" lay-skin="switch" lay-filter="switch_post_reward" lay-text="" #if(post.postReward == 1)checked #end>
                                        <div class="layui-unselect layui-form-switch layui-form-onswitch" lay-skin="_switch"><em>ON</em><i></i></div>
                                    </div>
                                </div>
                            </div>
                            <div id="rewardContent" #if(post.postReward == 0) style="display: none;" #end>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">设置飞吻</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="rewardNum" required lay-verify="number" value="#(post.rewardNum)" class="layui-input" placeholder="请合理输入飞吻数">
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-text">
                                    <div class="layui-input-block">
                                        <textarea id="L_reward_content" name="rewardContent"
                                                  placeholder="请输入打赏区显示内容，如恶意使用打赏功能，您的账户可能会被封禁" class="layui-textarea fly-editor" style="height: 260px;">#(post.rewardContent)</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">悬赏飞吻</label>
                                    <div class="layui-input-inline" style="width: 190px;">
                                        <select name="reward" disabled="disabled">
                                            <option value="20" #if(post.reward == 20) selected #end>20</option>
                                            <option value="30" #if(post.reward == 30) selected #end>30</option>
                                            <option value="50" #if(post.reward == 50) selected #end>50</option>
                                            <option value="60" #if(post.reward == 80) selected #end>60</option>
                                            <option value="80" #if(post.reward == 80) selected #end>80</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_vercode" class="layui-form-label">人类验证</label>
                                <div class="layui-input-inline">
                                    <input type="hidden" name="verid" value="#(verify.id)" />
                                    <input type="text" id="L_vercode" name="vercode" required lay-verify="required" placeholder="请回答后面的问题" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid">
                                    <span style="color: #c00;">#(verify.question)</span>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn layui-btn-primary" lay-filter="*" lay-submit><i class="layui-icon">&#xe609;</i>&nbsp;发布主题</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

#@footer()
#@js?()
<script>
    layui.cache.page = 'jie';

    layui.use(['layer','form'], function() {
        var layer = layui.layer
            , $ = layui.jquery
            ,form = layui.form;

        form.on('switch(switch_post_reward)', function (data) {
            $('#rewardContent').toggle(500);
        })

    })
</script>