#@header()

<div class="fly-main" style="overflow: hidden;">
    <div class="beauty" style="background-color:#FFF;border-radius: 2px;margin-top: 15px;">
        <div class="upload" style="padding: 15px 15px;">
            <table style="font-size: 14px;  margin-top: 1ex;" cellpadding="1" cellspacing="5"
                   align="center">
                <tr style="height: 40px;line-height: 40px;">
                    <td style="width: 20%;">时间</td>
                    <td style="width: 15%;">类型</td>
                    <td style="width: 10%;">数额</td>
                    <td style="width: 10%;">余额</td>
                    <td>描述</td>
                </tr>
                #for(ar : arList)
                <tr style="height: 40px;line-height: 40px;">
                    <td>#date(ar.time, "yyyy-MM-dd HH:mm:ss")</td>
                    <td>#if(ar.way == 0)发送谢意#elseif(ar.way == 1)收到谢意#elseif(ar.way == 2)每日签到奖励#elseif(ar.way == 3)主题回复收益
                        #elseif(ar.way == 4)创建评论#elseif(ar.way == 5)创建主题#elseif(ar.way == 6)初始资金#elseif(ar.way == 7)评论采纳收益
                        #elseif(ar.way == 8)采纳删除支出#elseif(ar.way == 9)打赏支出#elseif(ar.way == 10)打赏收益#end
                    </td>
                    <td><span #if(ar.type== 0) style="color:#0aa31c" #else style="color:#cc0000" #end>#if(ar.type == 0) + #else - #end #(ar.num)</span>
                    </td>
                    <td>#(ar.balance)</td>
                    <td>#(ar.desc)</td>
                </tr>
                #end
            </table>
        </div>
    </div>
</div>

#@footer()
#@js?()