#@header()
<div class="fly-home fly-panel" style="background-image: url();">
    <img src="#(user.avatar)" alt="#(user.nickName)">
    #if(user.auth != null)
    <i class="iconfont icon-renzheng" title="user.auth"></i>
    #end
    <h1>
        #(user.nickName)
        #if(user.gender == 0)
            <i class="iconfont icon-nan"></i>
        #else
            <i class="iconfont icon-nv"></i>
        #end
        #if(user.vip != 0)
            <i class="layui-badge fly-badge-vip">VIP#(user.vip)</i>
        #end
        <!--
        <span style="color:#c00;">（管理员）</span>
        <span style="color:#5FB878;">（社区之光）</span>
        <span>（该号已被封）</span>
        -->
    </h1>
    #if(user.auth != null)
        <p style="padding: 10px 0; color: #5FB878;">认证信息：#(user.auth)</p>
    #end

    <p class="fly-home-info">
        <i class="iconfont icon-kiss" title="飞吻"></i><span style="color: #FF7200;">#(user.balance) 飞吻</span>
        <i class="iconfont icon-shijian"></i><span>#date(user.regTime,"yyyy-MM-dd") 加入，第 #(user.id) 号会员</span>
        #if(user.city != null && user.city.trim() != '')<i class="iconfont icon-chengshi"></i><span>来自#(user.city)</span>#end
    </p>
    #if(user.sign != null && user.sign.trim() != '')
    <p class="fly-home-sign">#(user.sign)</p>
    #end
    <div class="fly-sns" data-user="">
        <!--
        <a href="javascript:;" class="layui-btn layui-btn-primary fly-imActive" data-type="addFriend">加为好友</a>
        <a href="javascript:;" class="layui-btn layui-btn-normal fly-imActive" data-type="chat">发起会话</a>
        -->
        <a href="/beauty/#(user.id)/time/1" class="layui-btn layui-btn-primary fly-imActive" data-type="chat">#(user.gender == 0 ? "he" : "she")'s beauty</a>
    </div>


</div>

<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6 fly-home-jie">
            <div class="fly-panel">
                <h3 class="fly-panel-title">#(user.nickName) 最近的主题</h3>
                <ul class="jie-row">
                    #if(postList == null || postList.size() == 0)
                        <div class="fly-none" style="min-height: 0px; padding:30px 0; height:auto;"><i style="font-size:14px;">没有发表任何主题</i></div>
                    #else
                    #for(p : postList)
                    <li>
                        #if(p.wonderful == 1)
                        <span class="fly-jing">精</span>
                        #end
                        <a href="/post/#(p.id)" class="jie-title"> #(p.title)</a>
                        <i class="createtime">#(p.createTime)</i>
                        <em class="layui-hide-xs">#(p.readers)阅/#(p.comments)评</em>
                    </li>
                    #end
                   #end
                </ul>
            </div>
        </div>

        <div class="layui-col-md6 fly-home-da">
            <div class="fly-panel">
                <h3 class="fly-panel-title">#(user.nickName) 最近的评论</h3>
                <ul class="home-jieda">
                    #if(replyList != null && replyList.size() > 0)
                        #for(r : replyList)
                            <li>
                                <p>
                                    <span class="createtime">#(r.time)</span>
                                    在<a href="/post/#(r.post.id)#item-#(r.id)" target="_blank">#(r.post.title)</a>中评论：
                                </p>
                                <div class="home-dacontent">#(r.content)</div>
                            </li>
                        #end
                    #else
                        <div class="fly-none" style="min-height: 0px; padding:30px 0; height:auto;"><span>没有评论任何主题</span></div>
                    #end
                </ul>
            </div>
        </div>
    </div>
</div>
#@footer()
<script>
    layui.cache.page = 'user';

    layui.cache.user = {
        username: '#(session.loginUser != null ? session.loginUser.nickName : 0)'
        ,uid: '#(session.loginUser != null ? session.loginUser.id : -1)'
        ,avatar: '#(session.loginUser != null ? session.loginUser.avatar : 0)'
        ,experience: '#(session.loginUser != null ? session.loginUser.balance : 0)'
        ,sex: '#(session.loginUser != null ? session.loginUser.gender == 0 ? "男" : "女" : 0)'
    };

    layui.config({
        version: "3.0.0"
        ,base: '/res/mods/'
    }).extend({
        fly: 'index'
    }).use(['face', 'fly'], function () {
        var fly = layui.fly
            ,$ = layui.jquery;
        $('.home-dacontent').each(function(){
            var othis = $(this), html = othis.html();
            othis.html(fly.content(html));
        });
    });

    layui.use(['laypage', 'layer','util', 'laydate'], function () {
        var laypage = layui.laypage
            , layer = layui.layer
            , util = layui.util
            , laydate = layui.laydate
            , $ = layui.jquery;


        $('.createtime').each(function () {
            var date = $(this).html();
            var str = util.timeAgo(date, laydate.now);
            $(this).html(str);
        })
    });
</script>