#@header()

#@column()

<div class="layui-container">
    <div class="layui-row layui-col-space15">

         ### 纯净模式
        <div class="layui-col-md8" #if(session.loginUser.readType != 0) style="width:100%"  #end>
            #if(topList != null && topList.size() > 0)
            <div class="fly-panel">
                <div class="fly-panel-title fly-filter">
                    <a>置顶</a>
                    <a href="#signin" class="layui-hide-sm layui-show-xs-block fly-right" id="LAY_goSignin"
                       style="color: #FF5722;">去签到</a>
                </div>
                <ul class="fly-list">
                    #for(p : topList)
                    <li>
                        <a href="/user/#(p.user.id)" class="fly-avatar">
                            <img src="#(p.user.avatar)" alt="#(p.user.nickName)">
                        </a>
                        <h2>
                            <a class="layui-badge">#(p.column.name)</a>
                            <a href="/post/#(p.id)">#(p.title)</a>
                        </h2>
                        <div class="fly-list-info">
                            <a href="/user/#(p.user.id)" link>
                                <cite>#(p.user.nickName)</cite>
                                #if(p.user.auth != null)
                                <i class="iconfont icon-renzheng" title="认证信息：#(p.user.auth)"></i>
                                #end
                                #if(p.user.vip != 0)
                                <i class="layui-badge fly-badge-vip">VIP#(p.user.vip)</i>
                                #end
                            </a>
                            <span class="createtime">#date(p.createTime, "yyyy-MM-dd HH:mm:ss")</span>
                            <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> #(p.reward)</span>
                            #if(p.status == 1)<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>#end
                            <span class="fly-list-nums">
                                        <i class="iconfont icon-pinglun1" title="回答"></i> #(p.comments)
                                    </span>
                        </div>
                        <div class="fly-list-badge">
                            <!-- <span class="layui-badge layui-bg-black">置顶</span> -->
                            #if(p.wonderful == 1)
                            <span class="layui-badge layui-bg-red">精帖</span>
                            #end
                        </div>
                    </li>
                    #end
                </ul>
            </div>
            #end

            <div class="fly-panel" style="margin-bottom: 0;">

                <div class="fly-panel-title fly-filter">
                    <a href="/column/all/all" class="layui-this">综合</a>
                    <span class="fly-mid"></span>
                    <a href="/column/all/unsolved">未结</a>
                    <span class="fly-mid"></span>
                    <a href="/column/all/solved">已结</a>
                    <span class="fly-mid"></span>
                    <a href="/column/all/wonderful">精华</a>
                    <span class="fly-filter-right layui-hide-xs">
          </span>
                </div>
                #if(otherList == null || otherList.size() == 0)
                <div class="fly-none">没有相关数据</div>
                #else
                <ul class="fly-list">
                    #for(p : otherList)
                    <li>
                        <a href="/user/#(p.user.id)" class="fly-avatar">
                            <img src="#(p.user.avatar)" alt="#(p.user.nickName)">
                        </a>
                        <h2>
                            <a class="layui-badge">#(p.column.name)</a>
                            <a href="/post/#(p.id)">#(p.title)</a>
                        </h2>
                        <div class="fly-list-info">
                            <a href="/user/#(p.user.id)" link>
                                <cite>#(p.user.nickName)</cite>
                                #if(p.user.auth != null)
                                <i class="iconfont icon-renzheng" title="认证信息：#(p.user.auth)"></i>
                                #end
                                #if(p.user.vip != 0)
                                <i class="layui-badge fly-badge-vip">VIP#(p.user.vip)</i>
                                #end
                            </a>
                            <span class="createtime">#date(p.createTime, "yyyy-MM-dd HH:mm:ss")</span>
                            <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> #(p.reward)</span>
                            #if(p.status == 1)<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>#end
                            <span class="fly-list-nums">
                <i class="iconfont icon-pinglun1" title="回答"></i> #(p.comments)
              </span>
                        </div>
                        <div class="fly-list-badge">
                            #if(p.wonderful == 1)
                            <span class="layui-badge layui-bg-red">精帖</span>
                            #end
                        </div>
                    </li>
                    #end
                </ul>
                #end
                #if((topList.size() + otherList.size()) >= 20)
                <div style="text-align: center">
                    <div class="laypage-main">
                        <a href="/column/all/all?p=2" class="laypage-next">更多求解</a>
                    </div>
                </div>
                #end
            </div>
        </div>

        #if(session.loginUser.readType == 0)
        <div class="layui-col-md4">

            #if(pwList != null && pwList.size() > 0)
            <div class="fly-panel">
                <h3 class="fly-panel-title">温馨通道</h3>
                <ul class="fly-panel-main fly-list-static">

                </ul>
            </div>
            #end

            <div class="fly-panel fly-signin">
                <div class="fly-panel-title">
                    当前在线人数：#(com.eazy.commons.SessionCounter::getActiveSessions())
                </div>
            </div>

            <div class="fly-panel fly-signin" id="signin">
                <div class="fly-panel-title">
                    签到
                    <i class="fly-mid"></i>
                    <a href="javascript:;" class="fly-link" id="LAY_signinHelp">说明</a>
                    <i class="fly-mid"></i>
                    <a href="javascript:;" class="fly-link" id="LAY_signinTop">活跃榜<span class="layui-badge-dot"></span></a>
                    <span class="fly-signin-days"></span>
                </div>
                <div class="fly-panel-main fly-signin-main">
                    <button class="layui-btn layui-btn-danger" id="LAY_signin">今日签到</button>
                </div>
            </div>


            #if( replyList != null && replyList.size() > 0)
            <div class="fly-panel fly-rank fly-rank-reply" id="LAY_replyRank">
                <h3 class="fly-panel-title">回帖周榜</h3>
                <dl>
                    #for(r : replyList)
                    <dd>
                        <a href="/user/#(r.user.id)">
                            <img src="#(r.user.avatar)"><cite>#(r.user.nickName)</cite><i>#(r.user.vip)</i>
                        </a>
                    </dd>
                    #end
            </div>
            #end

            <dl class="fly-panel fly-list-one">
                <dt class="fly-panel-title">本周热议</dt>
                #if(postList == null || postList.size() == 0)
                <div class="fly-none">没有相关数据</div>
                #else
                    #for(p : postList)
                        <dd>
                            <a href="/post/#(p.id)">#(p.title)</a>
                            <span><i class="iconfont icon-pinglun1"></i> #(p.comments)</span>
                        </dd>
                    #end
                #end
            </dl>

            <div class="fly-panel">
                <div class="fly-panel-title">
                    王者级赞助商
                </div>
                <div class="fly-panel-main">
                    #if(sponsorList != null && sponsorList.size() > 0)
                        #for(s : sponsorList)
                            <a href="#(s.url)" target="_blank" class="fly-zanzhu" style="background-color: #(s.color);">#(s.name) - #(s.desc)</a>
                        #end
                    #else
                    <a href="javascript:;" target="_blank" class="fly-zanzhu" style="background-color: #393D49;">虚席以待</a>
                    #end
                </div>
            </div>

            <div class="fly-panel fly-link">
                <h3 class="fly-panel-title">友情链接</h3>
                <dl class="fly-panel-main">
                    <dd><a href="mailto:lyusantu@gmail.com" class="fly-link" target="_blank">申请友链</a><dd>
                    #for(s : fsList)
                    <dd><a href="#(s.url)" class="fly-link" target="_blank">#(s.name)</a><dd>
                    #end
                </dl>
            </div>
        </div>
        #end
    </div>
</div>

#@footer()
#@js?()
<script>
    layui.use(['util', 'laydate', 'layer'], function () {
        var util = layui.util
            , laydate = layui.laydate
            , layer = layui.layer,
            $ = layui.jquery;

        $('.createtime').each(function () {
            var date = $(this).html();
            var str = util.timeAgo(date, laydate.now);
            $(this).html(str);
        })
    });
</script>