#@header()

#@column()

<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8" #if(session.loginUser !=null && session.loginUser.readType !=0) style="width:100%"
             #end>
            <div class="fly-panel" style="margin-bottom: 0;">
                #if(tab2 != null && tab2.size() > 0)
                <div class="fly-panel-title fly-filter">
                    #for(t : tab2)
                    <a href="/tab/#(tab1_select)?tab=#(t.suffix)" #if(tab2_select == t.suffix) class="layui-hide-xs layui-this" #end>#(t.name)</a>
                        #if(for.index == for.size - 1)
                            <span class="fly-filter-right layui-hide-xs"></span>
                        #else
                            <span class="fly-mid"></span>
                        #end
                    #end
                </div>
                #end
                <!-- 主题的类型排序,客户端显示冲突,先隐藏掉
                <div class="fly-panel-title fly-filter">
                    <a href="/tab/#(tab1_select)#if(tab2_select != null)?tab=#(tab2_select)#end" #if(type== null)
                       class="layui-this" #end>综合</a>
                    <span class="fly-mid"></span>
                    <a href="/tab/#(tab1_select)#if(tab2_select != null)?tab=#(tab2_select)&#else?#end type=unsolved"
                       #if(type== "unsolved") class="layui-this" #end>未结</a>
                    <span class="fly-mid"></span>
                    <a href="/tab/#(tab1_select)#if(tab2_select != null)?tab=#(tab2_select)&#else?#end type=solved"
                       #if(type== "solved") class="layui-this" #end>已结</a>
                    <span class="fly-mid"></span>
                    <a href="/tab/#(tab1_select)#if(tab2_select != null)?tab=#(tab2_select)&#else?#end type=wonderful"
                       #if(type== "wonderful") class="layui-this" #end>精华</a>
                    <span class="fly-filter-right layui-hide-xs"></span>
                </div>
                 -->
                #if(postList == null || postList.size() == 0)
                <div class="fly-none">没有相关数据</div>
                #else
                <ul class="fly-list">
                    #for(p : postList)
                    <li>
                        <a href="/user/#(p.user.id)" class="fly-avatar">
                            <img src="#(p.user.avatar)" alt="#(p.user.nickName)">
                        </a>
                        <h2>
                            <a class="layui-badge">#(p.column.name)</a>
                            <a href="/post/#(p.id)">#(p.title)</a>
                        </h2>
                        <div class="fly-list-info">
                            <a href="/user/#(p.user.id)" link>
                                <cite>#(p.user.nickName)</cite>
                                #if(p.user.auth != null)
                                <i class="iconfont icon-renzheng" title="认证信息：#(p.user.auth)"></i>
                                #end
                                #if(p.user.vip != 0)
                                <i class="layui-badge fly-badge-vip">VIP#(p.user.vip)</i>
                                #end
                            </a>
                            <!-- 自定义头衔 -->
                            <!-- <span style="color:#FF9E3F">（社区之光）</span> -->
                            <span class="createtime">#date(p.createTime, "yyyy-MM-dd HH:mm:ss")</span>
                            <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> #(p.reward)</span>
                            #if(p.status == 1)<span class="layui-badge fly-badge-accept layui-hide-xs">已结</span>#end
                            <span class="fly-list-nums">
                <i class="iconfont icon-pinglun1" title="回答"></i> #(p.comments)
              </span>
                        </div>
                        <div class="fly-list-badge">
                            #if(p.top == 1)
                            <span class="layui-badge layui-bg-black">置顶</span>
                            #end
                            #if(p.wonderful == 1)
                            <span class="layui-badge layui-bg-red">精帖</span>
                            #end
                        </div>
                    </li>
                    #end
                </ul>
                #end

                #if(page.totalPage > 1)
                <div style="text-align: center">
                    <div id="page"></div>
                </div>
                #end
            </div>
        </div>

        #if(session.loginUser == null || session.loginUser.readType == 0)
        <div class="layui-col-md4">

            #if(pwList != null && pwList.size() > 0)
            <div class="fly-panel">
                <h3 class="fly-panel-title">温馨通道</h3>
                <ul class="fly-panel-main fly-list-static">

                </ul>
            </div>
            #end

            <div class="fly-panel fly-signin">
                <div class="fly-panel-title">
                    当前在线人数：#(com.eazy.commons.SessionCounter::getActiveSessions())
                </div>
            </div>

            <div class="fly-panel fly-signin" id="signin">
                <div class="fly-panel-title">
                    签到
                    <i class="fly-mid"></i>
                    <a href="javascript:;" class="fly-link" id="LAY_signinHelp">说明</a>
                    <i class="fly-mid"></i>
                    <a href="javascript:;" class="fly-link" id="LAY_signinTop">活跃榜<span class="layui-badge-dot"></span></a>
                    <span class="fly-signin-days"></span>
                </div>
                <div class="fly-panel-main fly-signin-main">
                    <button class="layui-btn layui-btn-danger" id="LAY_signin">今日签到</button>
                </div>
            </div>

            #if( replyList != null && replyList.size() > 0)
            <div class="fly-panel fly-rank fly-rank-reply" id="LAY_replyRank">
                <h3 class="fly-panel-title">回帖周榜</h3>
                <dl>
                    #for(r : replyList)
                    <dd>
                        <a href="/user/#(r.user.id)">
                            <img src="#(r.user.avatar)"><cite>#(r.user.nickName)</cite><i>#(r.user.vip)</i>
                        </a>
                    </dd>
                    #end
            </div>
            #end

            <dl class="fly-panel fly-list-one">
                <dt class="fly-panel-title">本周热议</dt>
                #if(hotWeeklyList == null || hotWeeklyList.size() == 0)
                <div class="fly-none">没有相关数据</div>
                #else
                #for(p : hotWeeklyList)
                <dd>
                    <a href="/post/#(p.id)">#(p.title)</a>
                    <span><i class="iconfont icon-pinglun1"></i> #(p.comments)</span>
                </dd>
                #end
                #end
            </dl>

            #if(keywordList != null && keywordList.size() > 0)
            <div class="fly-panel fly-link">
                <h3 class="fly-panel-title">最热标签</h3>
                <dl class="fly-panel-main">
                    #for(k : keywordList)
                    <dd><a href="/post/tags/#(k.keyword)" target="_blank"><span class="layui-badge-rim">#(k.keyword)</span></a><dd>
                    #end
                </dl>
            </div>
            #end

            <div class="fly-panel fly-link">
                <h3 class="fly-panel-title">友情链接</h3>
                <dl class="fly-panel-main">
                        #for(s : fsList)
                    <dd><a href="#(s.url)" target="_blank">#(s.name)</a></dd>
                        #end
                    <dd><a href="mailto:lyusantu@gmail.com" class="fly-link" target="_blank">申请友链</a></dd>
                </dl>
            </div>

            <!--
            <div class="fly-panel fly-link">
                <!--<h3 class="fly-panel-title">轮播广告</h3>
                <dl class="fly-panel-main">-->
               <!--
                <div class="layui-carousel" id="carousel">
                    <div carousel-item>
                        <div style="background-color: orange"><p style="text-align: center;height: 270px;line-height: 270px;"><a href="/">轮播广告</a></p></div>
                        <div style="background-color: #FF7200"><p style="text-align: center;height: 270px;line-height: 270px;"><a href="/">轮播广告</a></p></div>
                        <div style="background-color: #2D93CA"><p style="text-align: center;height: 270px;line-height: 270px;"><a href="/">轮播广告</a></p></div>
                        <div style="background-color: #393D49"><p style="text-align: center;height: 270px;line-height: 270px;"><a href="/">轮播广告</a></p></div>
                        <div style="background-color: #CC0000"><p style="text-align: center;height: 270px;line-height: 270px;"><a href="/">轮播广告</a></p></div>
                    </div>
                </div>
                -->
                <!--</dl>-->

            </div>

        </div>
        #end
    </div>
</div>

#@footer()
#@js?()
<script>
    layui.use(['util', 'laydate', 'layer', 'laypage', 'carousel'], function () {
        var util = layui.util
            , laydate = layui.laydate
            , layer = layui.layer,
            laypage = layui.laypage,
            carousel = layui.carousel,
            $ = layui.jquery;

        //总页数低于页码总数
        laypage.render({
            elem: 'page'
            , count: '#(page.totalCount)'
            , first: '首页'
            , last: '尾页'
            , limit: '#(page.pageSize)'
            , curr: '#(page.pageNumber)'
            , layout: ['prev', 'page', 'next', 'skip']
            , jump: function (obj, first) {
                if (!first)
                    location.href = '/tab/#(tab1_select)?#if(tab2_select != null)tab=#(tab2_select)&#end p=' + obj.curr;
            },
        });

        carousel.render({
            elem: '#carousel'
            ,width: '100%' //设置容器宽度
            ,arrow: 'hover'
            //,anim: 'updown' //切换动画方式
        });

        $('.createtime').each(function () {
            var date = $(this).html();
            var str = util.timeAgo(date, laydate.now);
            $(this).html(str);
        })
    });
</script>