<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eazy.column.dao.ColumnDao">

    <select id="listColumn" parameterType="Column" resultType="Column">
        SELECT * FROM `column` WHERE
        <if test="column.role == 'admin'">
            1 = 1
        </if>
        <if test="column.role == 'user'">
            role = #{column.role}
        </if>
    </select>

</mapper>