<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eazy.index.dao.IndexDao">

    <select id="listFriendsSite" resultType="FriendsSite">
        SELECT * FROM friends_site ORDER BY time DESC
    </select>

    <select id="listSponsor" resultType="Sponsor">
        SELECT * FROM sponsor WHERE type = #{type} ORDER BY time DESC
    </select>

    <select id="listKeyword" resultType="Keyword">
       SELECT *,COUNT(keyword) as ct from keyword GROUP BY keyword HAVING ct > 0 ORDER BY ct DESC LIMIT 0,30
    </select>
</mapper>