<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eazy.post.dao.PostDao">

    <insert id="addPost" parameterType="Post" useGeneratedKeys="true" keyProperty="post.id">
        INSERT INTO post(title,`type`,content,reward,`delete`,createtime,author,comments,readers,status,top,wonderful)
        VALUES(#{post.title}, #{post.type}, #{post.content}, #{post.reward}, #{post.delete}, #{post.createTime}, #{post.author}, #{post.comments}, #{post.readers}, #{post.status}, #{post.top}, #{post.wonderful})
    </insert>

    <select id="list" resultMap="postResult">
        SELECT p.*,u.id uid,u.nickName,u.avatar,u.auth,u.vip,c.id cid,c.name cname
        FROM post p,`user` u,`column` c
        WHERE p.type = c.id
        AND p.author = u.id
        AND p.delete = 0
        <if test="tab != null and tab != 'all'">
            AND c.suffix in (SELECT suffix FROM `column` WHERE pid in (SELECT id FROM `column` WHERE suffix = #{tab}))
        </if>
        <if test="tab2 != null and tab2 != 'all'">
            AND c.suffix = #{tab2}
        </if>
        <if test="type != null">
            <choose>
                <when test="type == 'unsolved'">
                    AND p.status = 0
                </when>
                <when test="type == 'solved'">
                    AND p.status = 1
                </when>
                <when test="type == 'wonderful'">
                    AND p.wonderful = 1
                </when>
            </choose>
        </if>
        ORDER BY p.top DESC ,p.id DESC
        LIMIT #{page.startNumber},#{page.pageSize}
    </select>

    <select id="count" resultType="Integer">
        SELECT count(p.id)
        FROM post p,`user` u,`column` c
        WHERE p.type = c.id
        AND p.author = u.id
        AND p.delete = 0
        <if test="tab != null and tab != 'all'">
            AND c.suffix in (SELECT suffix FROM `column` WHERE pid in (SELECT id FROM `column` WHERE suffix = #{tab}))
        </if>
        <if test="tab2 != null and tab2 != 'all'">
            AND c.suffix = #{tab2}
        </if>
        <if test="type != null">
            <choose>
                <when test="type == 'unsolved'">
                    AND p.status = 0
                </when>
                <when test="type == 'solved'">
                    AND p.status = 1
                </when>
                <when test="type == 'wonderful'">
                    AND p.wonderful = 1
                </when>
            </choose>
        </if>
    </select>

    <select id="weeklyTop" resultType="Post">
        SELECT * FROM post WHERE `delete` = 0 AND YEARWEEK(date_format(createtime,'%Y-%m-%d')) = YEARWEEK(now()) AND comments > 10 ORDER BY comments DESC
    </select>

    <select id="countMyPost" resultType="Integer">
        SELECT count(p.id) FROM post p,`column` c
        WHERE p.type = c.id AND p.author = #{uid} AND p.delete = 0
    </select>

    <select id="listMyPost" resultMap="postResult">
        SELECT p.*,c.name cname FROM post p,`column` c
        WHERE p.type = c.id AND p.author = #{uid} AND p.delete = 0 ORDER BY p.id DESC LIMIT #{page.startNumber},#{page.pageSize}
    </select>

    <select id="getPost" resultMap="postResult">
        SELECT p.*,c.name cname,c.suffix,u.id uid,u.nickName,u.avatar,u.auth,u.vip FROM post p,`column` c,`user` u
        WHERE p.type = c.id AND p.author = u.id AND p.id = #{id}
    </select>

    <update id="delete">
        UPDATE post SET `delete` = 1 WHERE id = #{id}
    </update>

    <update id="update">
        UPDATE post
        SET
        <if test="post.readers != null">
            readers = #{post.readers}
        </if>
        <if test="post.comments != null">
            comments = #{post.comments}
        </if>
        <if test="post.status != null">
            status = #{post.status}
        </if>
        <if test="post.title != null">
            title = #{post.title}
        </if>
        <if test="post.type != null">
            , type = #{post.type}
        </if>
        <if test="post.content != null">
            , content = #{post.content}
        </if>
        WHERE id = #{post.id}
    </update>

    <update id="set">
        UPDATE post
        SET
        <if test="field == 'status'">
            wonderful = #{rank}
        </if>
        <if test="field == 'stick'">
            top = #{rank}
        </if>
        WHERE id = #{id}
    </update>

    <insert id="addKeyword" useGeneratedKeys="true" keyProperty="keyword.id">
        INSERT INTO keyword(keyword, pid, time) VALUES(#{keyword.keyword}, #{keyword.pid}, #{keyword.time})
    </insert>

    <select id="getKeyword" resultType="Keyword">
        SELECT * FROM keyword WHERE pid = #{pid}
    </select>

    <delete id="delKeyword">
        DELETE FROM keyword WHERE pid = #{pid}
    </delete>

    <select id="listTags" resultMap="postResult">
        SELECT p.*,u.id uid,u.nickName,u.avatar,u.auth,u.vip,c.id cid,c.name cname
        FROM post p,`user` u,`column` c,keyword k
        WHERE p.type = c.id
        AND p.author = u.id
        AND p.delete = 0
        AND p.id = k.pid
        AND k.keyword = #{tag}
        <if test="type != null">
            <choose>
                <when test="type == 'unsolved'">
                    AND p.status = 0
                </when>
                <when test="type == 'solved'">
                    AND p.status = 1
                </when>
                <when test="type == 'wonderful'">
                    AND p.wonderful = 1
                </when>
            </choose>
        </if>
        ORDER BY p.top DESC ,p.id DESC
        LIMIT #{page.startNumber},#{page.pageSize}
    </select>

    <select id="countTags" resultType="Integer">
        SELECT count(p.id)
        FROM post p,`user` u,`column` c,keyword k
        WHERE p.type = c.id
        AND p.author = u.id
        AND p.delete = 0
        AND p.id = k.pid
        AND k.keyword = #{tag}
        <if test="type != null">
            <choose>
                <when test="type == 'unsolved'">
                    AND p.status = 0
                </when>
                <when test="type == 'solved'">
                    AND p.status = 1
                </when>
                <when test="type == 'wonderful'">
                    AND p.wonderful = 1
                </when>
            </choose>
        </if>
    </select>

    <resultMap id="postResult" type="Post">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="type" property="type"/>
        <result column="content" property="content"/>
        <result column="reward" property="reward"/>
        <result column="delete" property="delete"/>
        <result column="createtime" property="createTime"/>
        <result column="author" property="author"/>
        <result column="comments" property="comments"/>
        <result column="readers" property="readers"/>
        <result column="status" property="status"/>
        <result column="top" property="top"/>
        <result column="wonderful" property="wonderful"/>
        <association property="user" javaType="User">
            <id column="uid" property="id"/>
            <result column="nickName" property="nickName"/>
            <result column="avatar" property="avatar"/>
            <result column="auth" property="auth"/>
            <result column="vip" property="vip"/>
        </association>
        <association property="column" javaType="Column">
            <id column="cid" property="id"/>
            <result column="cname" property="name"/>
            <result column="suffix" property="suffix"/>
            <result column="role" property="role"/>
        </association>
        <association property="keyword" javaType="Keyword">
            <result column="keyword" property="keyword"/>
        </association>
    </resultMap>

</mapper>