<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eazy.user.dao.UserDao">

    <!-- 定义数据库字段与实体对象的映射关系 -->
    <resultMap type="user" id="userResultMap">
        <id property="id" column="id"/>
        <result property="email" column="email"/>
        <result property="nickName" column="nickName"/>
        <result property="password" column="password"/>
        <result property="balance" column="balance"/>
        <result property="avatar" column="avatar"/>
        <result property="gender" column="gender"/>
        <result property="sign" column="sign"/>
        <result property="regTime" column="reg_time"/>
        <result property="city" column="city"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="getUser" parameterType="User" resultType="User">
        SELECT * FROM user WHERE id = #{user.id}
    </select>

    <select id="login" parameterType="User" resultType="User">
        SELECT * FROM user WHERE email = #{user.email} AND password = #{user.password}
    </select>

    <select id="verifyAccountExists" parameterType="User" resultType="Integer">
        SELECT COUNT(id) FROM user WHERE email = #{user.email}
    </select>

    <select id="verifyNickNameExists" parameterType="User" resultType="Integer">
        SELECT COUNT(id) FROM user WHERE nickname = #{user.nickName}
    </select>

    <insert id="reg" parameterType="User" useGeneratedKeys="true" keyProperty="user.id">
       INSERT INTO user(email,nickname,password,avatar,balance,reg_time,status,vip,type,gender,active_code) VALUES(#{user.email},#{user.nickName},#{user.password},#{user.avatar},#{user.balance},#{user.regTime},#{user.status},#{user.vip},#{user.type},#{user.gender},#{user.activeCode})
    </insert>

    <select id="activeAccount" resultType="User">
        SELECT * FROM user WHERE active_code = #{code}
    </select>

    <select id="verifyEmail" resultType="User">
        SELECT * FROM user WHERE email = #{email}
    </select>

    <update id="updateActiveCode">
        UPDATE user SET active_code = #{user.activeCode} WHERE id = #{user.id}
    </update>

    <select id="getUserByName" resultType="User">
        SELECT * FROM user WHERE nickName = #{nickName}
    </select>

    <select id="recentlyJoined" resultType="User">
        SELECT * FROM user WHERE status = 1
    </select>

    <update id="update" parameterType="User">
        UPDATE user SET
        <if test="user.avatar != null">
            avatar = #{user.avatar}
        </if>
        <if test="user.email != null">
            email = #{user.email},
        </if>
        <if test="user.nickName != null">
            nickname = #{user.nickName},
        </if>
        <if test="user.gender != null">
            gender = #{user.gender},
        </if>
        <if test="user.city != null">
            city = #{user.city},
        </if>
        <if test="user.status != null">
            status = #{user.status},
        </if>
        <if test="user.sign != null">
            sign = #{user.sign}
        </if>
        <if test="user.password != null">
            password = #{user.password}
        </if>
        <if test="user.balance != null">
            balance = #{user.balance}
        </if>
        <if test="user.activeCode != null">
            status = 1
        </if>
        WHERE id = #{user.id}
    </update>

</mapper>