<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eazy.verify.dao.VerifyDao">

    <select id="randVerify" resultType="Verify">
        SELECT * FROM verify ORDER BY RAND() LIMIT 0,1
    </select>

    <select id="getVerify" resultType="Verify">
        SELECT * FROM verify WHERE id = #{verify.id} AND answer = #{verify.answer}
    </select>
</mapper>